@import "variables";
@import "icons";

/* Buttons styles start */

button{
  border: none;
  outline: 0;
}

@media only screen and (max-width: $mobileMaxBreakpoint) {

  .button-left {
    left: 0;
    border-radius: 0 80px 80px 0;
    width: 80px;
    height: 150px;
    text-align: left;
  }
  .button-right {
    right: 0;
    border-radius: 80px 0 0 80px;
    width: 80px;
    height: 150px;
    text-align: right;
  }

  button:hover,
  button:focus {
    opacity: 0.8;
  }

  button {
    top: calc(50% - 75px);
    opacity: 0.3;
    margin: 0 auto;
    position: absolute;
    background: $white-color;
    font-size: 40px;
    .button-content {
      display: none;
      opacity: 1;
    }
  }
}

@media only screen and (min-width: $tabletBreakpoint) {

  .button-left{
    border-radius: 5px 0px 0px 5px;
  }
  .button-right{
    border-radius: 0px 5px 5px 0px;
  }
  button {
    position: relative;
    padding: 0.6rem 1.2rem;
    margin: 0.5%;
    text-decoration: none;
    background: $button-blue-color;
    color: $white-color;
    font-family: 'Ropa Sans';
    letter-spacing: 0.15rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    .icon {
      display: none;
    }
  }

  button:hover,
  button:focus {
    background: $button-blueLight-color;
  }

  button:active {
    transform: scale(0.99);
  }
}


/* Button styles end */